<% if @profile.errors.any? %>
    <ul>
        <% @profile.errors.full_messages do |e| %>
        <li>
            <%= e %>
        </li>
        <% end %>
    </ul>    
<% end %>


<%= form_with model: @profile, local: true do |f| %>
    <div class = 'form'>
        <%= f.label :name %>
        <%= f.text_field :name, required: true %>
    </div>
    <br>
    <div class = 'form'>
        <%= f.label :gender %>
        <%= f.text_field :gender, required: true %>
    </div>
    <br>
    <div class = 'form'>
        <%= f.label :height %>
        <%= f.number_field :height, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <%= f.label :weight %>
        <%= f.number_field :weight, required: true %>kg
    </div>
    <br>
    <div class = 'form'>

        <div class = 'form-image'>
            <%= image_tag("f-shoulders.jpeg") %>
            <%= image_tag("m-shoulders.png") %>
        </div>
        <p>Apply small pressure to find the bone on each
end of the shoulders, and measure from seam
to seam.</p>
        <%= f.label :shoulders %>
        <%= f.number_field :shoulders, required: true %>cm
    </div>
    <br>
    <div class = 'form'>

        <div class = 'form-image'>
            <%= image_tag("f-neck.jpeg") %>
            <%= image_tag("m-neck.png") %>
        </div>
        <p>Measure near the base of your neck. Leave
one finger width in between the tape and
neck (depending on preferred tightness)
</p>
        <%= f.label :neck %>
        <%= f.number_field :neck, required: true%>cm
    </div>
    <br>
    <div class = 'form'>

        <div class = 'form-image'>
            <%= image_tag("f-chest.jpeg") %>
            <%= image_tag("m-chest.png") %>
        </div>
        <p>Wrap measuring tape all around your chest.
Ensure the tape is directly under the armpits
and is level.
</p>
        <%= f.label :chest %>
        <%= f.number_field :chest, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-bicep.jpeg") %>
            <%= image_tag("m-bicep.png") %>
        </div>
        <p>Measure around the widest part of your bicep.
</p>
        <%= f.label :bicep %>
        <%= f.number_field :bicep, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("m-forearm.png") %>
        </div>
        <p>Wrap the measuring tape around the thickest
area of your forearm.</p>
        <%= f.label :forearm %>
        <%= f.number_field :forearm, required: true%>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("m-wrist.png") %>
        </div>
        <p>Measure around the wrist (on skin).</p>
        <%= f.label :wrist %>
        <%= f.number_field :wrist, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-sleeve.jpeg") %>
            <%= image_tag("m-sleeve.png") %>
        </div>
        <p>Measure from the 't seam' on the shoulder to
the start of your wrist.</p>
        <%= f.label :sleeve %>
        <%= f.number_field :sleeve, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-frontlength.jpeg") %>
            <%= image_tag("m-frontlength.png") %>
        </div>
        <p>Measure from top of your traps and straight
down to between your first and second thumb
knuckle.
</p>
        <%= f.label :front_length %>
        <%= f.number_field :front_length, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-backlength.jpeg") %>
            <%= image_tag("m-backlength.png") %>
        </div>
        <p>Measure from top of your traps down to
desired length. Typically within 0.5cm of your
front length.
</p>
        <%= f.label :back_length %>
        <%= f.number_field :back_length, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-midwaist.jpeg") %>
            <%= image_tag("m-midwaist.png") %>
        </div>
        <p>Measure around your waist area from your
belly button. Ensure the tape is level.
</p>
        <%= f.label :mid_waist %>
        <%= f.number_field :mid_waist, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-waist.jpeg") %>
            <%= image_tag("m-waist.png") %>
        </div>
        <p>Measure around your waist, on or slightly
above where you usually wear your pants.
Adjust to your preferred tightness.</p>
        <%= f.label :waist %>
        <%= f.number_field :waist, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-hip.jpeg") %>
            <%= image_tag("m-hip.png") %>
        </div>
        <p>Place your feet together and measure around
the widest part of your hips. Ensure the tape is
straight and level.
</p>
        <%= f.label :hip %>
        <%= f.number_field :hip, required: true%>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-upperthigh.jpeg") %>
            <%= image_tag("m-upperthigh.png") %>
        </div>
        <p>Measure around the thickest part of your upper
thigh. Typically below the groin area.</p>
        <%= f.label :upper_thigh %>
        <%= f.number_field :upper_thigh, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("m-middlethigh.png") %>
        </div>
        <p>Measure around the middle of your thigh.
Typically found 10cm above your knee cap.</p>
        <%= f.label :middle_thigh %>
        <%= f.number_field :middle_thigh, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-calf.jpeg") %>
            <%= image_tag("m-calf.png") %>
        </div>
        <p>Measure around the widest part of your calf.
</p>
        <%= f.label :calf %>
        <%= f.number_field :calf, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("m-ankle.png") %>
        </div>
        <p>Measure around your ankle (on skin).</p>
        <%= f.label :ankle %>
        <%= f.number_field :ankle, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-pantslength.jpeg") %>
            <%= image_tag("m-pantslength.png") %>
        </div>
        <p>Measure from the top of the waistband to the
bottom of your feet.</p>
        <%= f.label :pants_length %>
        <%= f.number_field :pants_length, required: true %>cm
    </div>
    <br>
    <div class = 'form'>
        <div class = 'form-image'>
            <%= image_tag("f-crotch.jpeg") %>
            <%= image_tag("m-crotch.png") %>
        </div>
        <p>Measure from front waist line to back waist
line. Keep it tight but squat to ensure there is
no discomfort.</p>
        <%= f.label :crotch %>
        <%= f.number_field :crotch, required: true %>cm
    </div>
    <br>

    <div class = 'form'>
        <%= f.label :notes %>
        <%= f.text_area :notes%>
    </div>
    <br>
    <%= f.submit %>
<% end %>
    