<% if @profile.errors.any? %>
    <ul>
        <% @profile.errors.full_messages do |e| %>
        <li>
            <%= e %>
        </li>
        <% end %>
    </ul>    
<% end %>


<%= form_with model: @profile, local: true do |f| %>

    <div class = 'form'>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name, required: true %>
    </div>
    <br>
    
    <br>
    <div class = 'form'>
        <%= f.radio_button :gender, 'Male' %>
        <%= f.label :gender_male, 'Male' %>

        <%= f.radio_button :gender, 'Female' %>
        <%= f.label :gender_female, 'Female' %>
    </div>
    <br>
    
    <br>
    <div class = 'form'>
        <%= f.label :height %>
        (cm)
        <br>
        <%= f.number_field :height, required: true %>
    </div>
    <br>
    
    <br>
    <div class = 'form'>
        <%= f.label :weight %>
        (kg)
        <br>
        <%= f.number_field :weight, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>

        
            <%= image_tag("f-shoulders.jpeg", class: 'form-image') %>
            <%= image_tag("m-shoulders.png", class: 'form-image') %>
        
        <p>Apply small pressure to find the bone on each
end of the shoulders, and measure from seam
to seam.</p>
        <%= f.label :shoulders %>
        (cm)
        <br>
        <%= f.number_field :shoulders, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>

        
            <%= image_tag("f-neck.jpeg", class: 'form-image') %>
            <%= image_tag("m-neck.png", class: 'form-image') %>

        <p>Measure near the base of your neck. Leave
one finger width in between the tape and
neck (depending on preferred tightness)
</p>
        <%= f.label :neck %>
        (cm)
        <br>
        <%= f.number_field :neck, required: true%>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>

        
            <%= image_tag("f-chest.jpeg", class: 'form-image') %>
            <%= image_tag("m-chest.png", class: 'form-image') %>
    
        <p>Wrap measuring tape all around your chest.
Ensure the tape is directly under the armpits
and is level.
</p>
        <%= f.label :chest %>
        (cm)
        <br>
        <%= f.number_field :chest, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
       
            <%= image_tag("f-bicep.jpeg", class: 'form-image') %>
            <%= image_tag("m-bicep.png", class: 'form-image') %>
        
        <p>Measure around the widest part of your bicep.
</p>
        <%= f.label :bicep %>
        (cm)
        <br>
        <%= f.number_field :bicep, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("m-forearm.png", class: 'form-image') %>
       
        <p>Wrap the measuring tape around the thickest
area of your forearm.</p>
        <%= f.label :forearm %>
        (cm)
        <br>
        <%= f.number_field :forearm, required: true%>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("m-wrist.png", class: 'form-image') %>
        
        <p>Measure around the wrist (on skin).</p>
        <%= f.label :wrist %>
        (cm)
        <br>
        <%= f.number_field :wrist, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-sleeve.jpeg", class: 'form-image') %>
            <%= image_tag("m-sleeve.png", class: 'form-image') %>
        
        <p>Measure from the 't seam' on the shoulder to
the start of your wrist.</p>
        <%= f.label :sleeve %>
        (cm)
        <br>
        <%= f.number_field :sleeve, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("m-frontlength.png", class: 'form-image') %>
        
        <p>Measure from top of your traps and straight
down to between your first and second thumb
knuckle.
</p>
        <%= f.label :front_length %>
        (cm)
        <br>
        <%= f.number_field :front_length, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-backlength.jpeg", class: 'form-image') %>
            <%= image_tag("m-backlength.png", class: 'form-image') %>
       
        <p>Measure from top of your traps down to
desired length. Typically within 0.5 centimetres of your
front length.
</p>
        <%= f.label :back_length %>
        (cm)
        <br>
        <%= f.number_field :back_length, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-midwaist.jpeg", class: 'form-image') %>
            <%= image_tag("m-midwaist.png", class: 'form-image') %>
        
        <p>Measure around your waist area from your
belly button. Ensure the tape is level.
</p>
        <%= f.label :mid_waist %>
        (cm)
        <br>
        <%= f.number_field :mid_waist, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-waist.jpeg", class: 'form-image') %>
            <%= image_tag("m-waist.png", class: 'form-image') %>
       
        <p>Measure around your waist, on or slightly
above where you usually wear your pants.
Adjust to your preferred tightness.</p>
        <%= f.label :waist %>
        (cm)
        <br>
        <%= f.number_field :waist, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-hip.jpeg", class: 'form-image') %>
            <%= image_tag("m-hip.png", class: 'form-image') %>
        
        <p>Place your feet together and measure around
the widest part of your hips. Ensure the tape is
straight and level.
</p>
        <%= f.label :hip %>
        (cm)
        <br>
        <%= f.number_field :hip, required: true%>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-upperthigh.jpeg", class: 'form-image') %>
            <%= image_tag("m-upperthigh.png", class: 'form-image') %>
        
        <p>Measure around the thickest part of your upper
thigh. Typically below the groin area.</p>
        <%= f.label :upper_thigh %>
        (cm)
        <br>
        <%= f.number_field :upper_thigh, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
       
            <%= image_tag("m-middlethigh.png", class: 'form-image') %>
        

        <p>Measure around the middle of your thigh.
Typically found 10 centimetres above your knee cap.</p>
        <%= f.label :middle_thigh %>
        (cm)
        <br>
        <%= f.number_field :middle_thigh, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-calf.jpeg", class: 'form-image') %>
            <%= image_tag("m-calf.png", class: 'form-image') %>
        
        <p>Measure around the widest part of your calf.
</p>
        <%= f.label :calf %>
        (cm)
        <br>
        <%= f.number_field :calf, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("m-ankle.png", class: 'form-image') %>
        
        <p>Measure around your ankle (on skin).</p>
        <%= f.label :ankle %>
        (cm)
        <br>
        <%= f.number_field :ankle, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-pantslength.jpeg", class: 'form-image') %>
            <%= image_tag("m-pantslength.png", class: 'form-image') %>
        
        <p>Measure from the top of the waistband to the
bottom of your feet.</p>
        <%= f.label :pants_length %>
        (cm)
        <br>
        <%= f.number_field :pants_length, required: true %>
    </div>
    <br>
    <hr>
    <br>
    <div class = 'form'>
        
            <%= image_tag("f-crotch.jpeg", class: 'form-image') %>
            <%= image_tag("m-crotch.png", class: 'form-image') %>
        
        <p>Measure from front waist line to back waist
line. Keep it tight but squat to ensure there is
no discomfort.</p>
        <%= f.label :crotch %>
        (cm)
        <br>
        <%= f.number_field :crotch, required: true %>
    </div>
    <br>

    
    <br>
    <%= f.submit %>
<% end %>
    