<!DOCTYPE html>
<html>
  <head>
    <title>Lupo Bianco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    

  </head>

  <body>

    
    <div class='main-area'>
      <div id="nav">
        <% if @current_user.present? %>
        <%= image_tag("LupoBiancoWhiteResize.png", class: "nav-logo", alt: "Lupo Bianco Custom Tailoring") %>
        <br>
        <%= link_to 'Log Out', login_path, method: 'delete' %>
        |
        <%= link_to 'Home', home_path %>
        |
        <%= link_to 'Profiles', profiles_path %>
        |
        <%= link_to 'Orders', suits_path %>
        |
        <%= link_to 'Account Settings', edit_user_path(@current_user) %>
        |
        <%= link_to 'Shopping Cart', cart_path(@current_user.cart_id) %>
        <hr>
      <% end %>
      
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
